.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
data/*

rga_eda_files/*

*.png
*.dat
*.csv

*.css
*.scss
*.js
*.html
*.pdf
*.woff
*.js.map
*.min.map

__pycache__/
*.pyc
reports/gems_flux_report_files/libs/jquery-3.5.1/jquery-AUTHORS.txt
_targets/